@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('/load.php?debug=false&lang=en&mode=articles&articles=MediaWiki:Themes.css&only=styles');
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:ContribsButtons.css&only=styles";
@import url("/load.php?mode=articles&only=styles&articles=u:justleafy:MediaWiki:WDSSpinners/code.css");
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Button.css&only=styles";
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:FandomizedActivityFeed.css&only=styles";
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:FandomIcons.css&only=styles";


a[href$="Purzyckij"],
a[href$="EpicNinjaDude37"], 
a[href$="Zianka"] {
    font-weight: bold !important;
    color: #00E000 !important;
}

.Wall .edited-by .subtle[href$="Purzyckij"]:after,
.Wall .edited-by .subtle[href$="EpicNinjaDude37"]:after,
.Wall .edited-by .subtle[href$="Zianka"]:after {
    color: #00E000 !important;
    content: "bureaucrat" !important;
    font-size: 15px;
    font-variant: small-caps;
    font-weight: normal;
}

a[href$="JakCooperThePlumber"],
a[href$="ChainsmokersFanatic1999"],
a[href$="NameOfUser57"],
a[href$="EdwardBloxy"],
a[href$="ITurkishmapping"],
a[href$="ThisIsACreeper0101"] {
    font-weight: bold !important;
    color: #B80000 !important;
}

.Wall .edited-by .subtle[href$="JakCooperThePlumber"]:after,
.Wall .edited-by .subtle[href$="ChainsmokersFanatic1999"]:after,
.Wall .edited-by .subtle[href$="NameOfUser57"]:after,
.Wall .edited-by .subtle[href$="EdwardBloxy"]:after,
.Wall .edited-by .subtle[href$="ITurkishmapping"]:after,
.Wall .edited-by .subtle[href$="ThisIsACreeper0101"]:after {
    color: #B80000 !important;
    content: "admin" !important;
    font-size: 15px;
    font-variant: small-caps;
    font-weight: normal;
}

a[href$="D2Kvirus"],
a[href$="Reverb_frost"],
a[href$="CactorTheGasopod"],
a[href$="Johncocek3"],
a[href$="Cluckster"],
a[href$="Sidemen19"],
a[href$="Grassblaze"],
a[href$="Nintendofan885"],
a[href$="Branca10177"] {
    color: #323299 !important;
    font-weight: bold !important;
}

.Wall .edited-by .subtle[href$="D2Kvirus"]:after,
.Wall .edited-by .subtle[href$="CactorTheGasopod"]:after,
.Wall .edited-by .subtle[href$="Johncocek3"]:after,
.Wall .edited-by .subtle[href$="Cluckster"]:after,
.Wall .edited-by .subtle[href$="Sidemen19"]:after,
.Wall .edited-by .subtle[href$="Grassblaze"]:after,
.Wall .edited-by .subtle[href$="Nintendofan885"]:after,
.Wall .edited-by .subtle[href$="Branca10177"]:after {
    color: #323299 !important;
    content: "content moderator" !important;
    font-size: 15px;
    font-variant: small-caps;
    font-weight: normal;
}


.Wall .edited-by .subtle[href$="Davidjl123"]:after, 
.Wall .edited-by .subtle[href$="DomiTheGamer"]:after,
.Wall .edited-by .subtle[href$="The_Nameless_Lancer"]:after, 
.Wall .edited-by .subtle[href$="Bendrownedfan111"]:after,
.Wall .edited-by .subtle[href$="Yangyong08"]:after,
.Wall .edited-by .subtle[href$="Toasty_Dinosaur"]:after,
.Wall .edited-by .subtle[href$="BadBlitz808"]:after{
    color: Black !important;
    content: "rollbacker" !important;
    font-size: 15px;
    font-variant: small-caps;
    font-weight: normal;
}

a[href$="Davidjl123"],
a[href$="DomiTheGamer"],
a[href$="The_Nameless_Lancer"],
a[href$="Bendrownedfan111"],
a[href$="Yangyong08"],
a[href$="Toasty_Dinosaur"],
a[href$="BadBlitz808"]{
    font-weight: bold !important;
    
}

a[href$="FkeBld"],
a[href$="BoaDaSnakeMan"],
a[href$="JustLeafy"]{
    font-weight: bold !important;
    color: #7289DA !important;
    
}

.Wall .edited-by .subtle[href$="JustLeafy"]:after 
.Wall .edited-by .subtle[href$="BoaDaSnakeMan"]:after,
.Wall .edited-by .subtle[href$="FkeBld"]:after {
    color: #7289DA !important
    content: "discord admin" !important;
    font-size: 15px;
    font-variant: small-caps;
    font-weight: normal;
}

a[href$="Reverb_frost"],
a[href$="Irregular_coca_cola"], 
a[href$="BlindCartographer"] {
    font-weight: bold !important;
    color: #693299 !important;
}

.Wall .edited-by .subtle[href$="Reverb_frost"]:after,
.Wall .edited-by .subtle[href$="Irregular_coca_cola"]:after,
.Wall .edited-by .subtle[href$="BlindCartographer"]:after {
    color: #693299 !important;
    content: "discussions mod" !important;
    font-size: 15px;
    font-variant: small-caps;
    font-weight: normal;
}


 .group-wrapper .mw-collapsed span {
  float:unset
}
 
.group-wrapper .mw-collapsed {
  text-align:right;
    
}

.WikiaRail .loading {
    display: none;
}

.MiniEditorWrapper .loading-indicator {
    display: none !important;
}

.EditPageEditor .loading-indicator .loading-message .loading-throbber,
.EditPageEditor .loading-indicator .loading-message .loading-text {
    padding: 20px;
}

.EditPageEditor .loading-indicator .loading-message {
    color: red;
}

.WikiaArticleComments.loading {
    background: url(/wiki/Special:Filepath?file=RedThrobber.gif) no-repeat 50% 50%;
    border: 0;
}

#mpmodule {
    background: rgba(255, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#mpmodule2 {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#mpmodule3 {
    background: rgba(255, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

#mpmodule4 {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.mptext {
    letter-spacing: 2.5px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.references-small {
    font-size: 90%;
}

.helpmodule img {
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: 0.5s ease-in-out;
    filter: grayscale(100%);
}

.helpmodule img:hover {
    -webkit-filter: grayscale(0%);
    -webkit-transition: 0.5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: 0.5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: 0.5s ease-in-out;
    filter: grayscale(0%);
}

#tcenter {
    text-align: center;
}

#mainwiki {
    position: absolute;
    top: -65px;
}

a.wikia-button,
.wikia-single-button a,
.wikia-menu-button,
input[type="submit"]:not(#searchSubmit),
input[type="reset"],
input[type="button"],
.button,
button {
    background: red !important;
    border-radius: 0 !important;
}

.mediawiki:not(.editor) a.wikia-button.secondary,
.mediawiki:not(.editor) .wikia-single-button.secondary a,
.mediawiki:not(.editor) .wikia-menu-button.secondary,
.mediawiki:not(.editor) .button.secondary,
.mediawiki:not(.editor) button.secondary {
    background: red !important;
    border: none;
    color: white !important;
    font-family: inherit;
}

.wikia-menu-button > a {
    border-radius: 0;
    border-right: 0 !important;
}

.wikia-menu-button > a:hover {
    background: red !important;
}

.wikia-menu-button > a:active {
    background: red !important;
}

.wikia-menu-button .drop {
    border-radius: 0;
}

.wikia-menu-button .drop:hover {
    background: red !important;
}

.wikia-menu-button .WikiaMenuElement {
    border-left: 2px solid red !important;
    border: 0 !important;
    box-shadow: 0 0 !important;
}

.wikia-menu-button .WikiaMenuElement li {
    border: 0 !important;
}

.wikia-menu-button .WikiaMenuElement li a:hover {
    background: red !important;
    color: #ffffff !important;
}

.wikia-menu-button .WikiaMenuElement li > a {
    background: #ff7f7f;
    color: #000000;
    padding: 2px 10px;
}

.wikia-menu-button.secondary {
    border: 0;
    color: #ffffff;
    padding-right: 5px;
}

.wikia-menu-button.secondary .drop .chevron {
    display: none;
}

.wikia-menu-button.secondary ul a[data-id="edit"] {
    margin-right: 0 !important;
}

.wikia-menu-button.secondary > a {
    color: #ffffff;
}

.wikia-menu-button.control-button .chevron {
    border-color: #ffffff transparent transparent transparent !important;
    display: inline !important;
    margin: 5px 3px 0 3px;
}

.wikia-button.comments {
    background: #ff7f7f !important;
    border-radius: 0;
    color: #000000 !important;
}

a.comments > .commentsbubble {
    border: none;
}

a.comments > .commentsbubble:before {
    border-color: transparent;
}

ul.tabbernav {
    border-bottom: 0 solid !important;
    font-size: 14px;
    font-weight: normal !important;
}

ul.tabbernav li a {
    padding: 10px !important;
    margin-left: 0 !important;
    color: white !important;
    border: none !important;
    background: none !important;
}

ul.tabbernav li a:link {
    color: red !important;
}

ul.tabbernav li a:visited {
    color: #FFE3EB !important;
}

ul.tabbernav li a:hover {
    color: white !important;
    background: red !important;
    border: none !important;
    font-weight: normal !important;
}

ul.tabbernav li.tabberactive a {
    background-color: #cc181e !important;
    border-bottom: none;
    color: white !important;
    font-weight: normal !important;
}

.tabberlive {
    width: 100% !important;
}

.tabberlive .tabbertab {
    border: none !important;
    padding: 0px !important;
}

.tabs {
    border: none;
    font-weight: bold;
    border-bottom: 2px solid red;
    padding-bottom: 2px;
}

.tabs li a {
    border: none;
    border-radius: 0;
    top: 0;
}

.tabs li a:hover {
    text-decoration: none;
    color: white !important;
    background-color: red;
}

.tabs .selected a {
    font-weight: bold;
    text-decoration: none;
    background-color: #cc181e;
    color: white !important;
    border: none;
}

.tabs .selected a:hover {
    background-color: #cc181e;
}

.WikiaRail .module {
    border: 0;
    border-bottom: 2px solid red;
    background-color: transparent;
}

.HotSpotsModule li span {
    padding-top: 18px !important;
}

#SPOTLIGHT_FOOTER {
    background-image: none;
}

#HOME_TOP_RIGHT_BOXAD {
margin-bottom: 20px !important;
}

.RelatedPagesModule .more:hover {
    text-decoration: none !important;
}

.ab_thumbnails-c_abp-mode {
    border-style: none !important;
    border-top: 2px red solid !important;
}

.thumbnails-h-abp {
    padding: 5px !important;
}

.ChatModule .chat-whos-here {
    border: none;
}

.insights-module-item {
    border-bottom: 0 !important;
}

.insights-module-item a .more {
    padding-top: 5px;
}

.insights-module-list li a {
    font-weight: bold;
}

.insights-module-list li a:hover {
    text-decoration: none;
}

.UserProfileMasthead .masthead-avatar .avatar {
    border: 5px solid red !important;
}

.UserProfileMasthead {
    min-height: 190px;
}

.UserProfileMasthead > div.masthead-info > div.masthead-info-lower::before {
    display: none;
}

.masthead-avatar img {
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.masthead-avatar:hover img {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    border-radius: 100%;
    box-shadow: 0 0 20px black;
    transform: rotate(360deg);
}

.masthead-avatar .sprite.edit-pencil {
    display: none;
}

#userAvatarEdit {
    margin-left: 45px;
}

.UserProfileMasthead .masthead-info hgroup {
    border-radius: 0;
}

.UserProfileMasthead .masthead-info-lower::before {
    border-style: none;
}

.avatar {
    border-radius: 12px;
    border: none;
}

.UserProfileMasthead > div.masthead-info {
    background-color: #d8ddea;
    background-color: rgba(216, 221, 234, 0.2);
    border-radius: 15px;
    margin: 15px 0 15px 165px;
}

.WikiaArticle .editsection {
    text-transform: lowercase;
    font-weight: normal !important;
}

.WikiaArticle h3 {
    font-weight: bold;
}

.WikiaArticle .thumbinner {
    background-color: #E6E6FA !important;
    background-image: none !important;
}

.WikiaArticleCategories,
.wikitable {
    background-image: none !important;
}

.wikitable,
table.wikitable {
    background: none !important;
}

#toc,
.toc {
    background: red;
    background: rgba(255, 0, 0, 0.1);
    border: none;
}

.WikiaArticle #pagehistory li.selected {
    padding: 0 5px;
    border: none;
    background-color: rgba(255, 153, 153, 0.5);
}

.WikiaFooter .toolbar .tools > li > a,
.WikiaBarWrapper .toolbar .tools > li > a {
    text-transform: uppercase;
    font-size: 11px;
}

.wikia-menu-button .WikiaMenuElement {
    border: 0 !important;
    box-shadow: 0 0 !important;
    top: 22px !important;
}

#WikiaMainContent,
#WikiaRail,
.Wall textarea,
.category-gallery-item .snippet .text,
a.wikia-button,
.wikia-single-button a,
.wikia-menu-button,
input,
.button,
button,
select {
    font-family: 'Roboto', sans-serif !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.mw-warning-with-logexcerpt {
    border: 2px solid #ff0000;
}

.wikia-page-header .header-container {
    border: 0;
}

.WikiaArticle fieldset {
    border: solid 1px #ff0000;
}

div#wikia-mediawiki-recentchangestext {
    border: 2px solid #ff0000 !important;
}

hr {
    border: 1px red dotted;
}

.banner-notification.confirm {
    background: #ff7f7f;
    border: red;
    color: black;
}

.banner-notification.confirm a {
    color: crimson;
}

.editpage-sourcewidemode.mode-source .editpage-widemode-trigger .arrow {
    border-left-color: darkred;
}

.EditPageToolbar .cke_toolbar_expand > a label {
    text-transform: uppercase;
}

.sharedHelp {
    border: none;
}

.WikiaFooter section,
.WikiaBarWrapper section {
    background-color: transparent;
    border: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.5, transparent), to(transparent));
}

.WikiaArticleComments .upper-pagination,
.WikiaArticleComments .article-comments,
.WikiaArticleComments {
    border-top: 2px solid red !important;
}

.deleteorremove-infobox {
    border-top: 0;
}

p.login {
    font-size: 15px;
}

.WikiaBarWrapper .wikia-bar .wikiabar-button {
    background-color: transparent !important;
    border: none !important;
}

.article-categories {
    border: none;
    background-color: transparent;
    background-image: none;
}

#youtubesearch {
    text-align: center;
    padding-bottom: 15px;
}

#WikiaMainContent h1,
.WikiaPage h2:not(.pi-item),
.WikiaPage h3:not(.pi-data-label),
.WikiaPage h4,
.WikiaPage h5,
.WikiaPage h6 {
    border-bottom: 0;
}

#HOME_TOP_RIGHT_BOXAD {
    margin-bottom: 20px !important;
}

.WikiaPage .editsection img {
    display: none;
}

.WikiaBarWrapper {
    background-image: none;
    box-shadow: none;
}

.WikiaFooter .toolbar,
.WikiaBarWrapper .toolbar {
    background-color: red;
    background-image: none;
}

.accent {
    border-color: red;
}

.insights-landing-nav-item {
    border-bottom: 1px solid #cc181e;
}

.insights-container-nav .insights-nav-item {
    border-bottom: none;
}

.insights-nav-list li a {
    color: black;
}

.insights-header-sorting {
    border-top: none;
}

.insights-list-header {
    border-bottom: none;
    border-top: none;
}

.insights-list-header-pageviews {
    border-left: none;
}

.insights-list-cell {
    border-bottom: 1px solid #cc181e;
}

.insights-list-item .insights-list-item-pageviews {
    border-left: transparent;
}

.insights-list-cell {
    border-bottom: 1px solid #cc181e;
}

.editpage-intro > .editpage-intro-wrapper {
    max-height: 135px;
}

/* Improving scaling for polls */
.pollAnswerName {
    padding: 10px 0 5px 0 !important;
}
.pollAnswerVotes {
    margin-left: 0 !important;
}

/* New polls */
.home-poll .question {
    font-size: 25px;
    background: #444;
    color: #FFF;
    padding: 10px;
}

.home-poll .question span {
    display: block;
    margin-top: 6px;
    font-size: 12px;
}

.home-poll ul {
    list-style: none;
    padding: 0;
    font-size: 13px;
    margin: 0;
}

.home-poll ul li {
    height: 20px;
    width: 100%;
    padding: 8px 0 30px 0;
}

.home-poll ul li div {
    display: block;
    background: #FFF;
    height: 20px;
    margin-top: 3px;
    padding: 4px 0;
}

/* For Formatting purposes, this is separated. */
.home-poll .ajax-poll {
    border: 3px solid #cc181e;
    width: calc(100%-6);
    background: #ff7f7f;
    color: black;
}

.home-poll .ajax-poll .header {
    font-weight: 700;
    background: #cc181e;
    color: #FFF;
    padding: 14px 13px;
    font-size: 16px;
    line-height: 140%
}

/* Additional Changes that only apply to home polls*/
.home-poll .pollAnswerName label {
    display: block;
    margin-bottom: 5px;
}

.home-poll .pollAnswerName input[type="radio"] {
    vertical-align: middle;
    margin: -1px 5px 0;
}

.home-poll .pollAnswerVotes {
    margin-left: 0!important;
    width: auto !important;
    border: none !important;
    background: #ffb2b2;
    padding: 10px;
    height: 15px;
}

.home-poll .pollAnswerVotes span {
    padding: 8px 5px
}

.home-poll .pollAnswerVotes div {
    padding: 10px 0;
    background: red;
    margin-top: 0 !important;
    font-size: 10px !important;
    height: 15px;
}

.home-poll #ajax-poll-area div:not(.pollAnswer):not(.pollAnswerName):not(.pollAnswerVotes) {
    font-size: 12px;
    margin-top: -15px;
    line-height: 170%
}

.home-poll .ajax-poll {
    padding: 0!important;
}

.home-poll .ajax-poll .center {
    height: 1px;
    font-size: 11px
}

.home-poll .ajax-poll form {
    padding: 0 10px
}

.home-poll .ajax-poll form input[type="submit"] {
    width: 100%;
    background: #cc181e;
    border: none;
    margin-top: 10px;
    height: 33px !important;
}

.module .ajax-poll {
    margin-top: 0;
}

.oo-ui-popupWidget-popup {
    width: auto !important;
}

.discussions-module {
    text-align: center;
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    position: relative;
}
 
.discussions-module-description {
    white-space: pre-line;
}

.discussions-button a {
    background: #ff0000;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 46px;
    line-height: 46px;
    margin: 14px 0;
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.discussions-button a:hover {
    background-color: #ff3333;
    text-decoration: none;
}

.discussion-module .discussion-threads .discussion-thread {
    background: rgba(255,0,0,0.1);
    border: 0;
}

.discussion-module .discussion-threads .discussion-thread:hover {
    background: rgba(255,0,0,0.2);
}

/* sprite edit images */
.WikiaArticle .editsection img.sprite.edit-pencil {
    background: url("/extensions/wikia/CommunityPage/images/edit-pen.svg") no-repeat;
    background-size: 80%;
    background-position: center;
}
 
.WikiaPageHeader .sprite.edit-pencil {
    background: url("/extensions/wikia/CommunityPage/images/edit-pen-dark.svg") no-repeat;
    background-size: 80%;
    background-position: center;
}
 
.WikiaPageHeader .sprite.lock {
    height: 16px;
    width: 16px;
    background: url("https://images.wikia.nocookie.net/central/images/9/9e/Edit-lock-dark.png") no-repeat;
    background-size: 80%;
    background-position: center;
}

a.tag {
    color: inherit;
}

/* Right rail design */
 
.rail-module,
.insights-module,
.HotSpotsModule,
.CommunityCornerModule,
.AchievementsModule,
.FollowedPagesModule{
    background-color: clear !important;
    padding: 9px;
    border: 2px red !important;
    border-radius: 5%;
}
 
.photo-module {
    padding-bottom: 28px !important;
}
 
.photo-module > a {
    background-color: brown;
    color: goldenrod;
    padding: 2px;
    border: 1.5px solid gold;
    border-radius: 10% !important;
}
 
/* adds border around elements in siderail */
.WikiaRail .rail-module, .community-page-help-module, .community-page-card-module, .WikiaArticleCategories {
    border: 2px solid #DC143C !important;
    vertical-align: text-bottom !important;
    border-radius: 5px !important;
}

#SliderView {
  background: transparent;
  width: 100%;  
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}
#SliderWrapper {
  position: relative;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}
#SliderWrapper, #SliderWrapper ul, #SliderWrapper li, #NavBtns, #NavBtns ul {
  margin: 0px;
  padding: 0px;
}
#NavBtns li {
  margin: 0px;
}
 
.Sld {
  height: auto;
  list-style: none;
  display: inline;
  float: left;
}
 
.SlideIMG {
  width: 100%;
}
.SlideIMG img {
  display: block;
  max-width: 100%;
  height: auto;
  min-width: 100%; 
  min-height: 100%; 
  position: relative;  
}
 
#NavBtns {
  position: absolute; 
  display: block;
}
.NavBtn {
  position: relative;
  display: block;
  top: 0px;
  width: auto;
  height: auto;
  list-style: none;
  margin: 0px;
  background: transparent;
}
 
.nmLeft {
  height: 100%;
  left: 0px;
  background: linear-gradient(to right, rgba(61,61,61,0.8), rgba(61,61,61,0.8),  transparent);
}
.nmLeft li {
  list-style: none;   
  padding: 10px 100px 10px 10px;
}
.nmLeft li:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgba(81,81,81,0.8), rgba(81,81,81,0.8),  transparent);
}
 
.nmRight {
  height: 100%;
  right: 0px;
  background: linear-gradient(to left, rgba(61,61,61,0.8), rgba(61,61,61,0.8),  transparent);
  text-align: left;
}
.nmRight li {
  list-style: none;   
  padding: 10px 10px 10px 100px;
}
.nmRight li:hover {
  cursor: pointer;
  background: linear-gradient(to left, rgba(81,81,81,0.8), rgba(81,81,81,0.8),  transparent);
}
 
.nmTop {
  width: 100%;
  top: 0px;
  background: linear-gradient(to bottom, rgba(61,61,61,0.8), rgba(61,61,61,0.8),  transparent);
  text-align: left;
}
.nmTop li {
  display: inline-block;
  list-style: none;   
  padding: 10px 10px 20px 10px;
}
.nmTop li:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(81,81,81,0.8), rgba(81,81,81,0.8),  transparent);
}
 
.nmBottom {
  width: 100%;
  bottom: 0px;
  background: linear-gradient(to top, rgba(61,61,61,0.8), rgba(61,61,61,0.8),  transparent);
  text-align: left;
}
.nmBottom li {
  display: inline-block;
  list-style: none;   
  padding: 20px 10px 10px 10px;
}
.nmBottom li:hover {
  cursor: pointer;
  background: linear-gradient(to top, rgba(81,81,81,0.8), rgba(81,81,81,0.8),  transparent);
}
 
.nbActiveLeft {
  background: linear-gradient(to right, rgba(111,111,111,0.8), rgba(111,111,111,0.8),  transparent);
}
.nbActiveRight {
  background: linear-gradient(to left, rgba(111,111,111,0.8), rgba(111,111,111,0.8),  transparent);
}
.nbActiveTop {
  background: linear-gradient(to bottom, rgba(111,111,111,0.8), rgba(111,111,111,0.8),  transparent);
}
.nbActiveBottom {
  background: linear-gradient(to top, rgba(111,111,111,0.8), rgba(111,111,111,0.8),  transparent);
}
/* animated arrow in top nav, and fade to search suggestions */
.wds-global-navigation .wds-dropdown::after, .wds-community-header .wds-community-header__local-navigation .wds-tabs .wds-tabs__tab .wds-dropdown::before, .wds-community-header .wds-community-header__local-navigation .wds-tabs .wds-tabs__tab .wds-dropdown::after, .page-header .page-header__contribution .page-header__contribution-buttons .wds-button-group .wds-dropdown::before, .page-header .page-header__contribution .page-header__contribution-buttons .wds-button-group .wds-dropdown::after, #PageHeader #EditMessageWallGreeting .wds-button-group .wds-dropdown::before, #PageHeader #EditMessageWallGreeting .wds-button-group .wds-dropdown::after, .wds-community-header__wiki-buttons .wds-dropdown::before, .wds-community-header__wiki-buttons .wds-dropdown::after {
 display: none !important;
}
.wds-global-navigation .wds-dropdown__content {
 -webkit-animation: dropdown-global 0.35s;
 -moz-animation: dropdown-global 0.35s;
 animation: dropdown-global 0.35s;
}
.wds-community-header .wds-community-header__local-navigation .wds-tabs .wds-tabs__tab .wds-dropdown .wds-dropdown__content {
 -webkit-animation: dropdown-topnav 0.3s;
 -moz-animation: dropdown-topnav 0.3s;
 animation: dropdown-topnav 0.3s;
}
.wds-community-header .wds-community-header__local-navigation .wds-tabs .wds-tabs__tab .wds-dropdown .wds-dropdown__content .wds-dropdown-level-2__content {
 -webkit-animation: dropdown-animation 0.3s;
 -moz-animation: dropdown-animation 0.3s;
 animation: dropdown-animation 0.3s;
}
.page-header .page-header__contribution .page-header__contribution-buttons .wds-button-group .wds-dropdown .wds-dropdown__content, #PageHeader #EditMessageWallGreeting .wds-button-group .wds-dropdown .wds-dropdown__content, .wds-community-header__wiki-buttons .wds-dropdown .wds-dropdown__content {
 -webkit-animation: contribution-dropdown 0.3s linear;
 -moz-animation: contribution-dropdown 0.3s linear;
 animation: contribution-dropdown 0.3s linear;
}
.wds-dropdown__content.wds-global-navigation__search-suggestions {
 -webkit-animation: searchsuggestions-dropdown 0.35s;
 -moz-animation: searchsuggestions-dropdown 0.35s;
 animation: searchsuggestions-dropdown 0.35s;
}
@keyframes dropdown-global {
 from {opacity: 0; top: 45px;}
 to {opacity: 1;}
}
@keyframes dropdown-topnav {
 from {opacity: 0; top: 30px;}
 to {opacity: 1; top: 40px;}
}
@keyframes dropdown-animation {
 from {opacity: 0; transform: translateX(-10px);}
 to {opacity: 1; transform: translateX(0);}
}
@keyframes contribution-dropdown {
 from {opacity: 0; top: 25px;}
 to {opacity: 1; top: 35px;}
}
@keyframes searchsuggestions-dropdown {
 from {top: 80%; opacity: 0;}
 to {top: calc(1px+100%); opacity: 1;}
}
.wds-dropdown-level-2:hover svg#wds-icons-menu-control-tiny {
 transform: rotate(-90deg) translateY(3px);
}
.wds-dropdown-level-2 svg#wds-icons-menu-control-tiny {
 -webkit-transition: transform 0.2s;
 -moz-transition: transform 0.2s;
 -o-transition: transform 0.2s;
 transition: transform 0.2s;
}
svg#wds-icons-dropdown-tiny {
 transition: transform 0.2s;
}
/* Making the rail similar to the one on discussions */
 
.WikiaRail .rail-module {
    background-color: transparent;
    padding: 10px;
    margin: 0;
    margin-bottom: 8px;
}
 
.WikiaRail .rail-module h2 {
    background-image: linear-gradient(to top, rgba(145,145,145,0.15) 43%, transparent 43%, transparent 100%);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-size: 18px;
    font-weight: 500 !important;
    letter-spacing: .5px;
    line-height: 1.5em;
    padding: 0 3px;
    text-transform: uppercase;
    border: none;
}
/* Mark redirects in Special:Allpages and Special:Watchlist */
.allpagesredirect {
   font-style: italic;
}
.allpagesredirect:after {
   color: #808080; content: " (redirect)"
}
.watchlistredir {
   font-style: italic;
}
/* custom notices */

.notice {
    background-color: #EEE;
    border-collapse: collapse;
    border-left: 10px solid #404A57;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
.notice.red {
    border-left: 10px solid #BA0000;
}
.notice.orange {
    border-left: 10px solid #F28500;
}
.notice.yellow {
    border-left: 10px solid #F4C430;
}
.notice.purple {
    border-left: 10px solid #9932CC;
}
.notice.blue {
    border-left: 10px solid #1E90FF;
}
.notice.gray {
    border-left: 10px solid #BBA;
}
.notice .notice__content {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}
.notice .notice__title {
    font-size: larger;
    line-height: normal;
    margin: 0;
    margin-bottom: 5px;
}
.notice .notice__text {
    margin: 0;
    padding: 0.25em 0.5em;
}
.wds-community-header__wordmark:hover {
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
transform: translate3d(0, 0, 0);
backface-visibility: hidden;
perspective: 1000px;
}
 
@keyframes shake {
10%, 90% {
transform: translate3d(-1px, 0, 0);
}
 
20%, 80% {
transform: translate3d(2px, 0, 0);
}
 
30%, 50%, 70% {
transform: translate3d(-4px, 0, 0);
}
 
40%, 60% {
transform: translate3d(4px, 0, 0);
}
}
.tally span {
    font-family: rubik;
}
/* Disable commenting on Purple Shep */
.page-Purple_Shep #WikiaArticleComments .MiniEditorWrapper,.page-Purple_Shep button.article-comm-reply.wikia-button.secondary.actionButton{display: none !important}
.page-Purple_Shep #WikiaArticleComments .article-comm-info {display: initial !important}
.page-Purple_Shep #WikiaArticleComments .article-comm-info:after {content: "Adding comments on this article is currently disabled. If you wish to have changes made to the article, please contact an admin or moderator." !important;}
/* Disable commenting on Pink Sheep */
.page-PinkSheep #WikiaArticleComments .MiniEditorWrapper,.page-PinkSheep button.article-comm-reply.wikia-button.secondary.actionButton{display: none !important}
.page-PinkSheep #WikiaArticleComments .article-comm-info {display: initial !important}
.page-PinkSheep #WikiaArticleComments .article-comm-info:after {content: "Adding comments on this article is currently disabled. If you wish to have changes made to the article, please contact an admin or moderator." !important;}
/* Disable commenting on Failboat */
.page-Failboat #WikiaArticleComments .MiniEditorWrapper,.page-Failboat button.article-comm-reply.wikia-button.secondary.actionButton{display: none !important}
.page-Failboat #WikiaArticleComments .article-comm-info {display: initial !important}
.page-Failboat #WikiaArticleComments .article-comm-info:after {content: "Adding comments on this article is currently disabled. If you wish to have changes made to the article, please contact an admin or moderator." !important;}
